@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*::after,
*::before {
    box-sizing: border-box;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: rgb(110, 110, 110) !important;
}

.swiper-pagination-bullet {
    background-color: rgb(169 169 169) !important;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    overflow-x: hidden;
    background-color: #1E1E1E;
    font-family: 'Inter', sans-serif;
}

body,
p {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: overlay;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: transparent;
    padding: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #727272;
    border-radius: 5rem;
}

.container {
    min-height: 100vh;
}

.menu-top {
    height: 45px;
    padding: 10px 15px;
    margin-bottom: 60px;
    display: flex;
    z-index: 2;
    gap: 5px;
    top:0;
    position: sticky;
    background-color: #2A2A2A;
    align-items: center;
    flex-wrap: wrap;
}

.menu-item.menu-active {
    background-color: #363636;
}

.menu-item:hover {
    background-color: #363636;
}

.menu-item {
    padding: 7px 25px;
    z-index: 1;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s ease background-color;
    position: relative;
}

.menu-item p {
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 0.1px;
    font-weight: 300;
    color: white;
    user-select: none;
}

.user-auth {
    margin-left: auto;
    display: flex;
    gap:10px;
    position: relative;
}

.user-auth-item {
    padding: 10px 15px;
    border-radius: 4px;
    transition: 0.3s ease background-color;
    background-color: #363636;
}

.user-auth-item:hover {
    background-color: #474747;
}

.user-auth-item p{
    font-size: 15px;
    color: #FFFFFF;
}

.user-wrapper {
    margin-left: auto;
}


.user-profile {
    display: flex;
    gap: 15px;
    padding: 5px 10px;
    cursor: pointer;
    justify-content: flex-end;
    border-radius: 4px;
}

.user-profile:hover {
    background-color: #363636;
}


.user-profile-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}



.user-profile-info p {
    font-size: 14px;
    color: #FFFFFF;
}

.user-profile-info span {
    font-size: 14px;
    background: #EEE098;
    background: -webkit-linear-gradient(to right, #EEE098, #B29C27);
    background: linear-gradient(to right, #EEE098, #B29C27);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
}

.user-image {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #D9D9D9;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Sub menu */

.menu-sub {
    display: flex;
    gap:10px;
    left: 15px;
    position: absolute;
    bottom: -45px;
}

.menu-sub-item {
    padding: 5px 7px;
    display: flex;
    border-radius: 4px;
    gap:10px;
    cursor: pointer;
    align-items: center;
    transition: 0.3s ease box-shadow;
    justify-content: space-between;
    background-color: #373737;
}

.menu-sub-item:hover {
    box-shadow: 0px 0px 0px 1px rgb(142, 142, 142);
}

.menu-sub-item:not(:first-child){
    padding: 5px 15px;
}

.menu-sub-item:first-child img{
    filter:invert();
}

.menu-sub-item img {
    width: 20px;
    object-fit: cover;
    opacity: 80%;
}

.menu-sub-item p {
    font-size: 13px;
    color:#B1B1B1;
    font-weight: 600;
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 30%;
    right: 0;
    z-index: -99;
}


.background img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.user-options {
    width: 170px;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -165px;
    opacity: 0;
    z-index: 99;
    backdrop-filter: blur(5px);
    background-color: #2A2A2A;
}


.user-option {
    padding: 10px 15px;
    padding-left: 10px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease background;
}

.user-option:hover {
    background-color: #373737;
}

.user-option p {
    color: #FFFFFF;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 14px;
}

/* Footer */

.footer-about {
    height: 50px;
    display: flex;
    align-items: center;
    gap:10px;
    padding: 2px 20px;
    justify-content: flex-end;
    background-color: #2A2A2A;
}

.footer-about p {
    color: #ADADAD;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 14px;
}

.footer-container {
    height: 260px;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.social-list {
    display: flex;
    gap:10px;
    margin: 20px;
    margin-left: auto;
}

.social-item {
    width: 60px;
    height: 60px;
    background-color: #2A2A2A;
    border-radius: 5rem;
}

/* Slider */

.slider-container {
    width: 800px;
    height: 420px;
    display: flex;
    left: -0.5px;
    position: relative;
    margin-top: 20px;
    margin-left: 60px;
    border-radius: 5px;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: .6;
    object-fit: cover;
}

.slider-content {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slider-text {
    width: 55%;
    top: 0;
    left: 0;
    padding-top: 8rem;
    padding-left: 10rem;
    z-index: 1;
    position: absolute;

}

.slider-text p {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

.slider-text>p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.slider-text span {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #FCC94F;
}

.slider-navigator-prev {
    width: 40px;
    height: 40px;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 1;
    position: absolute;
}


.slider-navigator-prev svg {
    width: 35px;
    height: 35px;
    left: -2.5px;
    stroke-width: 2px;
    stroke: #e2e2e2b6;
    position: relative;
}

.slider-navigator-next {
    width: 40px;
    height: 40px;
    top: 50%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 1;
    position: absolute;
}


.slider-navigator-next svg {
    width: 35px;
    height: 35px;
    left: 2.5px;
    stroke-width: 2px;
    stroke: #e2e2e2b6;;
    position: relative;
}


/* Error */

.error_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.error_container h1 {
    color: lightgrey;
}


/* Phone */


.phone-main.phone-main-open {
    width: 226px;
    height: 440px;
}

.phone-main {
    width: 102px;
    height: 175px;
    padding-top: 15px;
    padding-bottom: 17px;
    bottom: 0;
    left: 0;
    margin: 20px;
    transition: 0.4s ease width, 0.4s ease height;
    border-radius: 5px;
    position: fixed;
    z-index: 99;
    overflow: hidden;
}

.phone-main.phone-main-open .phone-border {
    width: 227px;
    height: 440px;
}

.phone-border {
    width: 101px;
    height: 207px;
    top: 0;
    transition: 0.4s ease width, 0.4s ease height;
    position: absolute;
    right: 1px;
    z-index: -90;
}

.phone-border img {
    width: 100%;
    height: 100%;
}

.phone-into-app {
    width: 95%;
    height: 83.2%;
    padding-top: 4px;
    display: none;
    transition: 0.3s ease transform, 0.3s ease opacity;
    position: absolute;
    z-index: -99;
    background-color: #eaeaea;
    top: 28px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    right: 5.8px;
    overflow: hidden;
}

.phone-main.phone-main-open .phone-bg {
    height: 90%;
    border-radius: 23px;
}

.phone-bg {
    width: 98%;
    height: 98%;
    position: absolute;
    z-index: -99;
    top: 2px;
    transition: 0.4s ease height;
    border-radius: 15px;
    overflow: hidden;
    left: 1px;
}

.phone-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.phone-main.phone-main-open .phone-apps {
    z-index: 1;

}

.phone-apps {
    width: 200px;
    flex-wrap: wrap;
    gap: 25px 4px;
    justify-content: start;
    align-items: flex-start;
    margin: 20px;
    opacity: 0;
    display: flex;
    transition: 0.15s ease opacity;
    bottom: 0;
    z-index: -99;
    position: absolute;
    margin-bottom: 60px;
}

.apps {
    border-radius: 3px;
    transition: 0.3s ease transform, 0.3s ease box-shadow;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45px;
    overflow-wrap:break-word;
}

.apps_bg {
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: black;
}

.apps img {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.apps p {
    font-weight: 500;
    font-size: 10px;
    bottom: -25px;
    text-align: center;
    letter-spacing: 0.4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: white;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.apps:hover {
    transform: scale(1.07);
}

.phone-main.phone-main-open .phone-bottom-apps {
    opacity: 1;
}


.phone-bottom-apps {
    width: auto;
    height: 40px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    right: 0;
    left: 0;
    transition: 0.3s ease opacity;
}

.phone-main.phone-main-open .phone-top {
    opacity: 1;
    z-index: 1;
}

.phone-top {
    width: auto;
    top: 0;
    opacity: 0;
    right: 0;
    left: 0;
    position: absolute;
    transition: 0.3s ease opacity;
    margin: 35px 20px;
    z-index: -99;
    display: flex;
    justify-content: space-between;
}


/* Block */

.block {
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 0px 0px #bababa75;
    justify-content: space-between;
}

.block-option {
    width: 15px;
    height: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease transform;
    border-radius: 5rem;
    padding: 8px 8px;
    margin: 5px;
    background-color: #57575775;
}

.block-option img {
    width: 16px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.block p {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


.phone-main.phone-main-open .phone-bar {
    width: 85%;
    transform: translateX(-5px) translateY(8px);
}

.phone-bar {
    height: 13px;
    top: 0px;
    background-color: #00000070;
    position: absolute;
    display: flex;
    width: 72%;
    right: 1px;
    transition: 0.4s ease width, 0.4s ease transform;
    justify-content: flex-end;
    z-index: -99;
    padding: 3px 13px;
    padding-top: 5px;
    border-top-left-radius: 12px;
    border-top-right-radius: 18px;
    align-items: center;
}

.phone-bar .time p {
    font-size: 13px;
    color: #e1e1e1;
    font-weight: 500;
}

/* Settings */

.settings-tabs {
    display: flex;
    flex-direction: column;
}

.settings-tab {
    height: 25px;
    padding: 5px 10px;
    box-shadow: 1px -1px 0px 0px #b0b0b057;
    background-color: #ffffff;
    display: flex;
    gap: 10px;
    cursor: pointer;
    align-items: center;
}

.settings-tab img {
    width: 20px;
    height: auto;
    padding: 3px 5px;
    border-radius: 5px;
    object-fit: cover;
}

.settings-tab p {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.settings-panel {
    width: 100%;
    z-index: -99;
    overflow-x: hidden;
    max-height: 90%;
    overflow-y: overlay;
    background-color: white;
    position: absolute;
}

.set_bg_list {
    width: 100%;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 5px;
    overflow: hidden;
}


.settings-panel::-webkit-scrollbar {
    position: absolute;
    width: 15px;
}

.settings-panel::-webkit-scrollbar-thumb {
    background-color: #aeaeae;
    border-radius: 10px;
    border: 4px solid rgba(255, 255, 255, 0);
    background-clip: content-box;
    min-width: 32px;
    min-height: 32px;
}

.settings-panel::-webkit-scrollbar-track {
    background-color: transparent;
}

.set_bg_list img {
    width: 60px;
    height: 95px;
    object-fit: cover;
    border-radius: 5px;  
}


.set_sound_list {
    width: 100%;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 5px;
    overflow: hidden;
}


/* Contacts */

.contacts-main {
    padding-top: 10px;
    overflow-x: hidden;
    max-height: 88%;
    overflow-y: overlay;
}

.contacts-main::-webkit-scrollbar {
    position: absolute;
    width: 15px;
}

.contacts-main::-webkit-scrollbar-thumb {
    background-color: #aeaeae;
    border-radius: 10px;
    border: 4px solid rgba(255, 255, 255, 0);
    background-clip: content-box;
    min-width: 32px;
    min-height: 32px;
}

.contacts-main::-webkit-scrollbar-track {
    background-color: transparent;
}


.contacts {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    gap: 10px;
    padding: 5px 10px;
    transition: 0.3s ease background-color;
}

.contact:hover {
    background-color: #d0d0d0;
}

.contact img {
    width: 25px;
    object-fit: cover;
    background: #2d2d2d3d;
    border-radius: 5rem;
    padding: 5px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contact p {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.contact span {
    font-size: 12px;
    font-weight: 500;
    color: gray;
    font-family: 'Roboto', sans-serif;
}


/* Calls */

.input-number {
    width: -webkit-fill-available;
    height: 45px;
    overflow: hidden;
    
}

.input-number input {
    border: none;
    width: 100%;
    height: auto;
    padding: 10px 8px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    outline: none;
    box-shadow: 0px 1px 0px 0px #b0b0b057;
}

.input-add {
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    bottom: 0;
    display: flex;
    transition: 0.3s ease opacity;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    z-index: -99;
}

.input-add input {
    border:none;
    outline: none;
    padding: 7px;
    border-radius: 6px;
}

.input-add-bg {
    width: 100%;
    height: 100%;
    z-index: -99;
    position: absolute;
    background-color: #2121218b;
}

.input-button {
    border-radius: 10px;
    padding: 4px 20px;
    display: flex;
    align-items: center;
    transition: 0.3s ease background-color;
    justify-content: center;
    background-color: #232323cb;
}

.input-button:hover {
    background-color: #505050cb;
}

.name_input {
    font-size: 13px;
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

.input-button p  {
    font-size: 14px;
    font-weight: 500;
    color:rgb(224, 224, 224);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.call-more-options {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 0px 0px #b0b0b057;
}

.call-more-option {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease background-color;
    align-items: center;
    padding: 10px;
    gap: 5px;
}
.call-more-option:hover {
    background-color: #b0b0b057;
}

.call-more-option img {
    width: 15px;
    height: 15px;
}

.call-more-option p {
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.call-numbers {
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 1px 0px 0px #b0b0b057;
}

.call-number {
    width: 50px;
    padding: 10.7px;
    display: flex;
    transition: 0.3s ease background-color;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 0.3px #87878757;
}

.call-number:hover {
    background-color: #b0b0b057;
}

.call-number p {
    font-size: 22px;
    text-align: center;
}

.call-options {
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 13px;
}

.call-option.call-calling {
    background-color: rgb(186, 70, 68);
}

.call-option.call-calling:hover {
    background-color: rgb(143, 53, 51);
}

.call-option {
    width: 20px;
    padding: 5px 30px;
    border-radius: 10px;
    justify-content: center;
    transition: 0.3s ease background-color,0.3s ease transform;
    align-items: center;
    display: flex;
    background-color: rgb(125, 186, 68);
}

.call-option:hover {
    background-color: rgb(97, 143, 54);
}

.call-option img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.calling {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -99;
    background: linear-gradient(179deg, #13111d, #363649);
}

.calling-person {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    flex-direction: column;
}

.calling-person img{
    width: 40px;
    object-fit: cover;
    background: #9494949e;
    border-radius: 5rem;
    padding: 5px;
}

.calling-person p {
    color: #bfbfbf;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

/* Panic */

.panic-main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #13111d;
}

.panic-button {
    padding: 30px 20px;
    background-color: #ea4d4d;
    border-radius: 5rem;
    transition: 0.3s ease background-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panic-button:hover {
    background-color: #bf3e3e;
}

.panic-button p{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 40px;
}

/* Utils */
bar {
    width: 100%;
    height: 5px;
    margin: 10px 0px;
    display: block;
}