@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    overflow-x: hidden;
    background-color: #1E1E1E;
    font-family: 'Inter', sans-serif;
}

body,
p {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: overlay;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: transparent;
    padding: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #727272;
    border-radius: 5rem;
}

.container {
    min-height: 100vh;
}

.menu-top {
    height: 45px;
    padding: 10px 15px;
    margin-bottom: 60px;
    display: flex;
    z-index: 2;
    gap: 5px;
    top:0;
    position: sticky;
    background-color: #2A2A2A;
    align-items: center;
    flex-wrap: wrap;
}

.menu-item.menu-active {
    background-color: #363636;
}

.menu-item:hover {
    background-color: #363636;
}

.menu-item {
    padding: 7px 25px;
    z-index: 1;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s ease background-color;
    position: relative;
}

.menu-item p {
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 0.1px;
    font-weight: 300;
    color: white;
    user-select: none;
}

.user-auth {
    margin-left: auto;
    display: flex;
    gap:10px;
    position: relative;
}

.user-auth-item {
    padding: 10px 15px;
    border-radius: 4px;
    transition: 0.3s ease background-color;
    background-color: #363636;
}

.user-auth-item:hover {
    background-color: #474747;
}

.user-auth-item p{
    font-size: 15px;
    color: #FFFFFF;
}

.user-wrapper {
    margin-left: auto;
}


.user-profile {
    display: flex;
    gap: 15px;
    padding: 5px 10px;
    cursor: pointer;
    justify-content: flex-end;
    border-radius: 4px;
}

.user-profile:hover {
    background-color: #363636;
}


.user-profile-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}



.user-profile-info p {
    font-size: 14px;
    color: #FFFFFF;
}

.user-profile-info span {
    font-size: 14px;
    background: #EEE098;
    background: -webkit-linear-gradient(to right, #EEE098, #B29C27);
    background: linear-gradient(to right, #EEE098, #B29C27);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
}

.user-image {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #D9D9D9;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Sub menu */

.menu-sub {
    display: flex;
    gap:10px;
    left: 15px;
    position: absolute;
    bottom: -45px;
}

.menu-sub-item {
    padding: 5px 7px;
    display: flex;
    border-radius: 4px;
    gap:10px;
    cursor: pointer;
    align-items: center;
    transition: 0.3s ease box-shadow;
    justify-content: space-between;
    background-color: #373737;
}

.menu-sub-item:hover {
    box-shadow: 0px 0px 0px 1px rgb(142, 142, 142);
}

.menu-sub-item:not(:first-child){
    padding: 5px 15px;
}

.menu-sub-item:first-child img{
    filter:invert();
}

.menu-sub-item img {
    width: 20px;
    object-fit: cover;
    opacity: 80%;
}

.menu-sub-item p {
    font-size: 13px;
    color:#B1B1B1;
    font-weight: 600;
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 30%;
    right: 0;
    z-index: -99;
}


.background img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.user-options {
    width: 170px;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -165px;
    opacity: 0;
    z-index: 99;
    backdrop-filter: blur(5px);
    background-color: #2A2A2A;
}


.user-option {
    padding: 10px 15px;
    padding-left: 10px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease background;
}

.user-option:hover {
    background-color: #373737;
}

.user-option p {
    color: #FFFFFF;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 14px;
}

/* Footer */

.footer-about {
    height: 50px;
    display: flex;
    align-items: center;
    gap:10px;
    padding: 2px 20px;
    justify-content: flex-end;
    background-color: #2A2A2A;
}

.footer-about p {
    color: #ADADAD;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 14px;
}

.footer-container {
    height: 260px;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.social-list {
    display: flex;
    gap:10px;
    margin: 20px;
    margin-left: auto;
}

.social-item {
    width: 60px;
    height: 60px;
    background-color: #2A2A2A;
    border-radius: 5rem;
}

/* Slider */

.slider-container {
    width: 800px;
    height: 420px;
    display: flex;
    left: -0.5px;
    position: relative;
    margin-top: 20px;
    margin-left: 60px;
    border-radius: 5px;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: .6;
    object-fit: cover;
}

.slider-content {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slider-text {
    width: 55%;
    top: 0;
    left: 0;
    padding-top: 8rem;
    padding-left: 10rem;
    z-index: 1;
    position: absolute;

}

.slider-text p {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

.slider-text>p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.slider-text span {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #FCC94F;
}

.slider-navigator-prev {
    width: 40px;
    height: 40px;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    position: absolute;
}


.slider-navigator-prev svg {
    width: 35px;
    height: 35px;
    left: -2.5px;
    stroke-width: 2px;
    stroke: #e2e2e2b6;
    position: relative;
}

.slider-navigator-next {
    width: 40px;
    height: 40px;
    top: 50%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    position: absolute;
}


.slider-navigator-next svg {
    width: 35px;
    height: 35px;
    left: 2.5px;
    stroke-width: 2px;
    stroke: #e2e2e2b6;;
    position: relative;
}
